
body {
    margin: 0px;
}

/*.el-row:last-child {*/
/*!*margin-bottom: 0;*!*/
/*}*/

/*.bg-purple-dark {*/
/*background: #99a9bf;*/
/*}*/

/*.bg-purple {*/
/*background: #d3dce6;*/
/*}*/

/*.bg-purple-light {*/
/*background: #e5e9f2;*/
/*}*/

/*.content {*/
/*min-height: 23px;*/
/*background-color: #1c8de0;*/
/*}*/

.header {
    height: 60px;
    line-height: 60px;
    background: #20a0ff;
    color: #fff;
}

.header .userinfo {
    text-align: right;
    padding-right: 35px;
    float: right;
}

.header .userinfo .userinfo-inner {
    cursor: pointer;
    color: #fff;
}

.header .userinfo .userinfo-inner img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 10px 0px 10px 10px;
    float: right;
}

.header .logo {
    /*/ / width: 230 px;*/
    height: 60px;
    font-size: 22px;
    padding-left: 20px;
    padding-right: 20px;
    border-color: rgba(238, 241, 146, 0.3);
    border-right-width: 1px;
    border-right-style: solid;
}

.header .logo img {
    width: 40px;
    float: left;
    margin: 10px 10px 10px 18px;
}

.header .logo .txt {
    color: #fff;
}

.header .logo-width {
    width: 230px;
}

.header .logo-collapse-width {
    width: 60px
}

.header .tools {
    padding: 0px 23px;
    width: 14px;
    height: 60px;
    line-height: 60px;
    cursor: pointer;
}

.main {
    display: flex;
    background: #324057;
    position: absolute;
    top: 60px;
    bottom: 0px;
    overflow: hidden;
}

.main aside {
    flex: 0 0 230px;
    width: 230px;
    position: absolute;
    top: 0px;
    bottom: 0px;
}

.main aside .el-menu {
    height: 100%;
}

.main aside .collapsed {
    width: 60px;
}

.main aside .collapsed .item {
    position: relative;
}

.main aside .collapsed .submenu {
    position: absolute;
    top: 0px;
    left: 60px;
    z-index: 99999;
    height: auto;
    display: none;
}

.main .menu-collapsed{
    flex:0 0 60px;
    width: 60px;
}
.main .menu-expanded{
    flex:0 0 230px;
    width: 230px;
}