<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta content="text/html;charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/common/elementui/lib/index.css}"/>
    <link rel="stylesheet" th:href="@{/common/seed/css/home.css}"/>

    <!-- 引入组件库 -->
    <!-- 先引入 Vue -->
    <script th:src="@{/common/vue/vue.js}"></script>
    <script th:src="@{/common/vue/vue-resource.min.js}"></script>
    <script th:src="@{/common/vue/vue-router.js}"></script>
    <script th:src="@{/common/elementui/lib/index.js}"></script>
    <script th:src="@{/common/jquery/jquery-3.2.1.min.js}"></script>
    <title>SEED</title>
</head>

<body>
<div id="home">
    <el-row class="container" >
        <el-col :span="24"  class="header">
            <el-col :span="10" class="logo" :class="collapsed?'logo-collapse-width':'logo-width'">
                {{collapsed ? '' : sysName}}
            </el-col>
            <el-col :span="10">
                <div class="tools" @click.prevent="collapse">
                    <i class="el-icon-menu "></i>
                </div>
            </el-col>
            <el-col :span="4" class="userinfo">
                <el-dropdown trigger="hover">
                    <span class="el-dropdown-link userinfo-inner">
                        <img :src="this.sysUserAvatar"/> {{sysUserName}}
                    </span>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item>我的消息</el-dropdown-item>
                        <el-dropdown-item>设置</el-dropdown-item>
                        <el-dropdown-item divided @click.native="logout">退出登录</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            </el-col>
        </el-col>
    <!--</el-row>-->
    <!--<el-row>-->
        <el-col :span="24" class="main">
            <aside :class="collapsed ? 'menu-collapsed' : 'menu-expanded'">
                <!--导航菜单-折叠前-->
                <el-menu class="el-menu-vertical-demo" unique-opened router v-show="!collapsed" >
                    <menu-item :item="item" v-for="item in menuList" :key="item.name"></menu-item>
                </el-menu>

                <!--导航菜单-折叠后-->
                <ul class="el-menu el-menu-vertical-demo collapsed" v-show="collapsed" ref="menuCollapsed">
                    <menu-item-hide :item="item" v-for="item in menuList" :key="item.name"></menu-item-hide>
                </ul>
            </aside>

            <section class="content-container">
                <div class="grid-content bg-purple-light">
                    <el-col :span="24" class="breadcrumb-container">
                        <strong class="title">title-title-title-title-title-title-</strong>
                        <el-breadcrumb separator="/" class="breadcrumb-inner">
                            <!--<el-breadcrumb-item v-for="item in $route.matched" :key="item.path">-->
                            <!--{{ item.name }}-->
                            <!--</el-breadcrumb-item>-->
                        </el-breadcrumb>
                    </el-col>
                    <el-col :span="24" class="content-wrapper">
                        <transition name="fade" mode="out-in">
                            <!--<router-view></router-view>-->
                            <div>12312313444444444444444444444444444444444444444444444</div>
                        </transition>
                    </el-col>
                </div>
            </section>

        </el-col>

    </el-row>

</div>

</body>
<script th:src="@{/home/js/home.js}"></script>
</html>