<div>
    <czy-toolbar>
        <czy-toolbar-btn>
            <el-button-group>
                <el-button type="primary" icon="plus" size="small" @click="toAdd">目录新增</el-button>
            </el-button-group>
        </czy-toolbar-btn>
    </czy-toolbar>

    <el-table :data="deptData" border stripe highlight-current-row>
        <el-table-tree-column :expand-all="false" :remote="selectSubRerouce" parentKey="parentId"
                              levelKey="depth" childNumKey="childNum"
                              file-icon="fa fa-file" folder-icon="fa fa-folder"
                              prop="name" min-width="200" label="资源名称">
        </el-table-tree-column>
        <el-table-column prop="code" label="资源编码" width="200px"></el-table-column>
        <el-table-column prop="url" label="资源标识"></el-table-column>
        <el-table-column prop="types" label="资源类型">
            <template scope="scope">
                <el-tag type="warning" v-if="scope.row.types==1">菜单</el-tag>
                <el-tag type="danger" v-if="scope.row.types==2">目录</el-tag>
                <el-tag type="primary" v-if="scope.row.types==3">按钮</el-tag>
            </template>
        </el-table-column>

        <el-table-column label="操作" width="150">
            <template scope="scope">

                <el-tooltip content="新增" placement="top" effect="light">
                    <el-button size="mini" type="primary" icon="plus" @click="toAdd1(scope.row)"></el-button>
                </el-tooltip>
                <el-tooltip content="修改" placement="top" effect="light">
                    <el-button size="mini" type="warning" icon="edit" @click="toEdit(scope.row)"></el-button>
                </el-tooltip>
                <el-tooltip content="删除" placement="top" effect="light">
                    <el-button size="mini" type="danger" icon="delete" @click="del(scope.row)"></el-button>
                </el-tooltip>

            </template>
        </el-table-column>
    </el-table>

    <edit @save-success="search" ref="edit"></edit>
</div>