<el-dialog title="用户信息" :visible.sync="show" :modal-append-to-body="false" :close-on-click-modal="false"
           size="tiny">
    <el-form label-position="right" label-width="80px" :model="entity" :rules="rules" ref="editForm">
        <el-form-item label="部门" prop="sysDeptId">
            <el-select v-model="entity.sysDeptId" filterable placeholder="请选择" size="small" style="min-width: 100%">
                <el-option v-for="item in sysDeptList" :key="item.id" :label="item.name" :value="item.id">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="名称" prop="name">
            <el-input v-model="entity.name" size="small"></el-input>
        </el-form-item>
        <el-form-item label="性别" prop="sex">
            <el-input v-model="entity.sex" size="small"></el-input>
        </el-form-item>
        <el-form-item label="电话" prop="telephone">
            <el-input v-model="entity.telephone" size="small"></el-input>
        </el-form-item>
        <el-form-item label="邮箱" prop="email">
            <el-input v-model="entity.email" size="small"></el-input>
        </el-form-item>
        <el-form-item label="账号" prop="username">
            <el-input v-model="entity.username" size="small"></el-input>
        </el-form-item>
    </el-form>
    <div slot="footer">
        <el-button type="primary" size="small" @click="save">提交</el-button>
        <el-button size="small" @click="close">取消</el-button>
    </div>
</el-dialog>
