<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="header::header"></head>

<body>
<script th:src="@{/js/sys/org-index2.js}"></script>

<el-row id="toolbar">
    <el-col :span="24">
        <el-button type="primary">新增</el-button>
        <el-button type="primary">修改</el-button>
        <el-button type="primary">删除</el-button>
    </el-col>
</el-row>
<el-row>

    <!--组织结构-->
    <el-col :span="10">
        <el-tree id="orgTree"
                :data="data"
                :props="defaultProps"
                node-key="id"
                show-checkbox
                @node-click="handleNodeClick"
                :render-content="renderContent">
        </el-tree>
    </el-col>

    <!--员工信息-->
    <el-col :span="14">

    </el-col>

</el-row>

</body>
</html>