<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="header::header"></head>

<body>
<script th:src="@{/js/sys/org-index.js}"></script>

<style>
    .split {
        width: 3px;
        min-height: 100px;
        background: #99a9bf;
        margin-right: 5px;
        margin-left: 5px;
    }
</style>

<div id="main">

    <el-row>
        <!--组织结构-->
        <el-col :span="9" class="orgTree">
            <el-row style="margin-bottom: 5px">
                <el-button id="addOrg" type="primary" @click="openAddWin">新增</el-button>
            </el-row>
            <el-row>
                <el-tree id="orgTree"
                         ref="orgTree"
                         :default-expanded-keys="defaultExpandedKeys"
                         :expand-on-click-node="false"
                         :highlight-current="true"
                         :data="treeData"
                         :props="defaultProps"
                         node-key="id"
                         check-strictly
                         show-checkbox
                         @node-click="handleNodeClick"
                         :render-content="renderContent">
                </el-tree>
            </el-row>
        </el-col>

        <!--分隔线-->
        <el-col :span="1" class="split"></el-col>

        <!--员工信息-->
        <el-col :span="14">
            <el-row id="toolbar">
                <el-col :span="14" style="margin-bottom: 5px">
                    <el-button type="primary">新增</el-button>
                    <el-button type="primary">修改</el-button>
                    <el-button type="primary">删除</el-button>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="24">
                    <el-table :data="tableData" :stripe="true" :border="true" style="width: 100%" >
                        <el-table-column prop="name" label="姓名" />
                        <el-table-column prop="email" label="邮件" />
                        <el-table-column prop="org" label="部门" />
                    </el-table>
                    <el-pagination layout="prev, pager, next" :total="pageTotal"/>
                </el-col>
            </el-row>
        </el-col>

        <el-dialog title="组织机构管理" :visible.sync="operateDialogShow" size="tiny" :close-on-click-modal="false">
            <el-form :model="sysOrg">
                <el-form-item label="机构编码" :label-width="formLabelWidth">
                    <!--<input v-model="sysOrg.id" type="hidden"/>-->
                    <!--<input v-model="sysOrg.parentId" type="hidden"/>-->
                    <el-input v-model="sysOrg.code"></el-input>
                </el-form-item>
                <el-form-item label="机构名称" :label-width="formLabelWidth">
                    <el-input v-model="sysOrg.name"></el-input>
                </el-form-item>
                <el-form-item label="备注" :label-width="formLabelWidth">
                    <el-input v-model="sysOrg.memo" type="textarea" :rows="5"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="operateDialogShow = false">取 消</el-button>
                <el-button type="primary" @click="saveOrg">确 定</el-button>
            </div>
        </el-dialog>

    </el-row>
</div>
</body>
</html>