<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<script th:src="@{/js/sys/param2.js}"></script>

<!--工具栏-->
<template id="tool-bar-template">
    <el-form>
        <el-col :span="6" style="padding-right: 5px; padding-bottom: 5px">
            <el-input placeholder="请输入参数名称查询" name="test"></el-input>
        </el-col>
        <el-col :span="6">
            <el-button-group>
                <el-button type="info" @click="query">查询</el-button>
                <el-button type="primary" @click="add">新增</el-button>
                <el-button type="warning" @click="edit">修改</el-button>
            </el-button-group>
        </el-col>
    </el-form>
    </el-row>
</template>

<!--数据表-->
<template id="page-grid-template">
    <div>
        <el-table :data="data" :stripe="true" :border="true" style="width: 100%"
                  :highlight-current-row="true" max-height="100%" :page-size="pageSize"
                  @current-change="selectChange">
            </el-table-column>
            <el-table-column prop="name" label="名称"/>
            <el-table-column prop="email" label="编码"/>
            <el-table-column prop="org" label="值"/>
            <el-table-column prop="org" label="状态"/>
        </el-table>
        <el-pagination layout="total, prev, pager, next" :total="total"
                       :pagec-count="pages" @current-change="changePage" :page-size="pageSize"/>
    </div>
</template>

<div id="main-panel">
    <el-row>
        <tool-bar id="tool-bar"></tool-bar>
    </el-row>
    <el-row>
        <page-grid id="page-grid" url="sys/param/selectByPage"></page-grid>
    </el-row>
</div>